
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
:root {
	
	--sans-serif: 'Roboto', sans-serif;
}
body {
	font-family: var(--sans-serif);
	background: white;
	margin: 0px;
}


section {

	padding: 20px 56px;
	color: var(--darker);
	color: rgba(255, 255, 255, .8);
	background: #5c258d !important;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #5c258d, #4389a2) !important; /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #5c258d, #4389a2) !important;

}
section .album-info:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
}
section .album-art {
	float: left;
	width: 220px;
	margin-right: 20px;
	margin-bottom: 20px;
}
section .album-art * {
	border-radius: 3px;
}
section .album-art img {
	width: 100%;
	margin-bottom: 10px;
	box-shadow: 0 5px 60px -3px rgba(0, 0, 0, 0.18);
}
section .play {
	display: flex;
	flex-wrap: initial;
	justify-content: center;
	align-items: center;
	align-content: initial;
	color: white;
	background: var(--color);
	padding: 10px;
	text-transform: uppercase;
	flex: 1 0 50%;
}
section .bookmark {
	display: flex;
	flex-wrap: initial;
	justify-content: center;
	align-items: center;
	align-content: initial;
	width: 48px;
	height: 48px;
	border: 3px solid var(--color-light);
	margin-left: 10px;
}
section .album-details > * {
	padding: 10px 0;
}
section h2 {
	display: flex;
	flex-wrap: initial;
	justify-content: initial;
	align-items: center;
	align-content: initial;
   
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}
section h2 img {
	width: 24px;
	border-radius: 50%;
	margin-right: 10px;
}
section h1 {
	font-size: 50px;
	font-weight: 300;
	word-wrap: break-word;
}


section p {
	margin-top: 15px;
}
section .album-tracks {
	background: #f8f8f8;
	border: 1px solid #efefef;
	margin-top: 20px;
}
@media (max-width: 800px) {
	section {
		margin: 100px 36px 36px 36px;
   }
}
@media (max-width: 700px) {
	section .album-art {
		width: 100%;
   }
	section .album-art img {
		width: auto;
		max-width: 100%;
		margin: -100px auto 10px auto;
		display: block;
   }
	section .album-details {
		float: left;
		max-width: 100%;
   }
}
@media (max-width: 550px) {
	section {
		margin: 100px 20px 20px 20px;
		padding: 20px 16px;
   }
	
}






/* music player*/
body a {
   color: inherit;
}
body a:not(:hover) {
   text-decoration: none;
}

body .content {
   overflow: hidden;
   flex-grow: 1;
   height: calc(100% - 80px);
}
body .content .lyrics {
   padding: 50vh 0;
   min-height: calc(100vh - 80px);
   width: calc(100% - 40px);
   margin: 0 20px;
   text-align: center;
   transition: all 0.25s;
   position: relative;
}

body .content .lyrics > div:before {
   content: attr(note);
   position: absolute;
   top: 0px;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 18px;
}

body .player {
   z-index: 10;
   background: #f9f9f9;
   color: #000;
   min-height: 80px;
   max-height: 80px;
   display: flex;
   flex-direction: row;
}
body .player .left img {
   width: 80px;
   background-size: cover;
}
body .player .right {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
}
body .player .right .top {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 10px;
}
body .player .right .top .song {
   font-size: 1.2em;
   font-weight: 600;
}
body .player .right .bottom {
   display: flex;
}
body .player .right .bottom video {
   flex-grow: 1;
   height: 32px;
}

.pt{

 margin-top: 12px;
 margin-left: 12px;
 margin-right: 12px;
}


.txt{

   display: flex;
}

.txt1
{
   flex: 2;
   align-items: center;
   width: 550px;
   height: 39px;
   margin-right: 350px;
   margin-left: 350px;
   border-radius: 10px;
}

.h1{

   text-align: center;
   font-weight: bold;
}

